/* General Styles */


.general-container h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* SOList Styles */
.so-list table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.so-list table, .so-list th, .so-list td {
  border: 1px solid #ddd;
}

.so-list th, .so-list td {
  padding: 12px;
  text-align: left;
}

.so-list th {
  background-color: #f2f2f2;
}

.so-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.so-list tr:hover {
  background-color: #f1f1f1;
}

/* SODetail Styles */
.so-detail table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.so-detail table, .so-detail th, .so-detail td {
  border: 1px solid #ddd;
}

.so-detail th, .so-detail td {
  padding: 12px;
  text-align: left;
}

.so-detail th {
  background-color: #474747;
}

.so-detail tr:nth-child(even) {
  background-color: #f9f9f9;
}

.so-detail tr:hover {
  background-color: #f1f1f1;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #45a049;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.back-button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.back-button:active {
  background-color: #0056b3;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
